.body-farmer{
    margin: 0px;
    padding: 0px;
    background-image: url('./Images/bg_8.jpg');
    background-size: cover;
}

.body-buyer{
    margin: 0px;
    padding: 0px;
    background-image: url('./Images/bg_9.jpg');
    background-size: cover;
}

.navbar-yellow{
    background-color: #ffd31d !important;
}

.navbar-blue{
    background-color: #3fc5f0;
}

.heading{
    margin-left: 30px;
    font-family: 'Pacifico', cursive;
    color: #ffffff !important;
    font-size: 35px !important;
}

.sub-heading{
    font-family: 'Pacifico', cursive;
    color: #ffffff !important;
    font-size:large !important;
}

.sub-heading:hover{
    color: #f0a500 !important; 
}


.sub-heading0{
    font-family: 'Pacifico', cursive;
    color: #ffffff !important;
    font-size:large !important;
}

.sub-heading0:hover{
    color: #00a8cc !important; 
}

.sub-heading1{
    font-family: 'Pacifico', cursive;
    color: #3fc5f0 !important;
    font-size:large !important;
}

.sub-heading11{
    font-family: 'Pacifico', cursive;
    color: #ffd31d !important;
    font-size:large !important;
}

.social-icon{
    margin: 20px 10px;
}

#footer1{
    padding: 2% 15%;
    background-color: #ffd31d;
    text-align: center;
    height: 150px;
}

#footer2{
    padding: 2% 15%;
    background-color: #3fc5f0;
    text-align: center;
    height: 150px;
}

.hr-yellow{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 7px;
    border-color: #ffd31d;
}

.hr-blue{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 7px;
    border-color: #3fc5f0;
}

.id-display{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-bottom: 100px;
    color: white;
}

.rules{
    text-align: left;
    margin-left: 5%;
}

li{
    font-size: 20px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

.btn1{
    width: 20%;
    background: none;
    border: 2px solid #ffd31d;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn1:hover{
    color: #ffffff;
    background-color: #ffd31d;
}

.btn2{
    width: 20%;
    background: none;
    border: 2px solid #3fc5f0;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn2:hover{
    color: #ffffff;
    background-color: #3fc5f0;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3fc5f0; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00a8cc !important; 
  }